**Q01:** จงสร้าง DataFrame ของข้อมูลภาพยนต์ที่ฉายในโรงภาพยนต์ ซึ่งประกอบด้วย

1.รหัสภาพยนต์ (unique id) 2.ชื่อภาพยนต์ 3.วันที่เข้าฉาย 4.ประเภทหนัง 5.ระยะเวลาที่ฉาย

เช่น 1001, ETERNALS, 4 November 2021, Action, 160 minutes

จำนวนภาพยนต์ 10 เรื่อง โดยให้สร้างจาก dict

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'movie_id':[1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
       'movie_name': ['Wild child', 'She’s the Man' , 'A Cinderella Story', 'Easy A', 'Mean Girls','Legally Blonde', 'Bridesmaids' , '50 First Date', '27 Dresses', 'Juno'],
       'release_date': ['4 November 2021' , '5 November 2021', '6 November 2021', '7 November 2021','8 November 2021', '9 November 2021' , '10 November 2021', '11 November 2021', '12 November 2021', '13 November 2021'],
       'leather_type': ['Romantic', 'Comedy', 'Comedy', 'Sci-Fi', 'Romantic','Romantic', 'Comedy' , 'Romantic', 'Romantic', 'Drama'],
       'show_time':['60 minutes', '70 minutes', '72 minutes', '65 minutes', '77 minutes', '69 minutes', '63 minutes', '69 minutes', '60 minutes', '77 minutes']})
df.style.hide_index()

**Q02:** จาก DataFrame ที่ได้ใน Q01 ข้างต้น ให้บันทึกข้อมูลลงใน Excel ชื่อ "Movies.xlsx" โดยให้ระบุชื่อชีทว่า "Movie Details"

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel("/content/63114540197.xlsx",sheet_name="Movie Details")
data.style.hide_index()

**Q03:** จาก DataFrame ที่ได้ใน Q02 ข้างต้น ให้สร้างชีทใหม่ชื่อ "Showtime" ประกอบด้วยข้อมูลที่ได้มาจากชีท "Movie Details" 3 คอลัมน์ ได้แก่ รหัสภาพยนต์ ประเภทหนัง และระยะเวลาที่ฉาย โดยให้เพิ่มข้อมูลใหม่ 3 คอลัมน์ ได้แก่ จำนวนรอบที่ฉาย/วัน เวลาที่ฉาย และจำนวนการจองที่นั่ง โดยให้บันทึกข้อมูลลงในไฟล์ "Movies.xlsx" เดิม

Note: แต่ละรหัสภาพยนต์ สามารถมีเวลาที่ฉายได้มากกว่า 1 เวลา ตัวอย่างเช่น

1001, Action, 160, 3, 12.00; 1001, Action, 160, 3, 15.20; 1001, Action, 160, 3, 18.40

In [ ]:
data1 = pd.read_excel("/content/63114540197.xlsx",sheet_name="Showtime")
data1.style.hide_index()

In [ ]:
my = ['movie_id','leather_type','show_time','reserve_movie','movie_time']
data[my].style.hide_index()

**Q04:** จากข้อมูลในไฟล์ Movies.xlsx ที่ได้ข้างต้น จงเขียนคำสั่ง เพื่อหา

1. ต้องการทราบจำนวนการจองที่นั่งทั้งหมดของภาพยนต์แต่ละเรื่อง แต่ละรอบ
2. ต้องการทราบจำนวนการจองที่นั่งทั้งหมดของภาพยนต์แต่ละเรื่อง

In [ ]:
data[['movie_name','reserve_movie','Number_day']].style.hide_index()

In [ ]:
data[['movie_name','reserve_movie']].style.hide_index()